#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    position: static;
    height: 70%;
}

#buttonDiv{
    background-color: grey;
    color: white;
    margin: auto;
    position:unset;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 40vh;

    border-radius: 20px;
    padding: 20px;
    
}


#loginLink, #registerLink{
    width: 200px;
    background-color: black;
    color: white;
    margin: auto;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;
    border: none;
    transition: .5s;
    padding:0;

}

#login, #register{
    width:100%;
    height: 100%;
    background-color: black;
    color: white;
    margin: auto;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;
    border: none;
    transition: .5s;
}


#login:hover, #register:hover{
    background-color: white;
    color: black;
}

#loginLink:hover, #registerLink:hover{
    background-color: white;
    color: black;
}
